:root{
    --text: rgb(20, 12, 71);
    --background: rgb(246, 245, 255);
    --primary: rgb(255, 89, 0);
    --secondary: rgb(70, 47, 218);
    --secondary-hover:rgb(99, 81, 214);
    --accent: rgb(132, 217, 57);
    --accent-hover:rgb(158, 233, 92);
}




html{
    font-size: 62.5%;
    height: 100%;
}

*, *:after, *:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Oswald ,Arial, Helvetica, sans-serif;
    position: relative;
    height: 100%;
}
a{
    text-decoration: none;
    color: var(--text);
}

li{
    list-style: none;
}
/* navbar */

nav{

    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7px;
    border-bottom: 2px solid lightgray;
    position: sticky;
    top: 0;
    z-index: 99999;
    background-color: white;
}



.nav-ul{
    display: flex;
    gap: 15px;
}

.li-nav{
    position: relative;
    padding-left: 7px;
    border-left: 2px solid lightgray;
}

.items-a{
    font-size: 1.1rem;
    transition: color .15s;
}

.items-a:hover{
    color: var(--accent);
}

.main-logo{
    width: 8.5rem;
}

@media screen and (min-width:670px) {
    .nav-ul{
        display: flex;
        gap: 15px;
    }
    .items-a{
        font-size: 1.6rem;
        transition: color .15s;
    }
    nav{
        height: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        border-bottom: 2px solid lightgray;
    }
    .main-logo{
        width: 9.3rem;
    }
    .li-nav{
        position: relative;
        padding-left: 16px;
        border-left: 2px solid lightgray;
    }
}
/* footer */
footer{

    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    background-color: var(--secondary);
}

.ul-footer-title{
    color: var(--accent);
    margin-bottom: 6px;
}

.ul-footer a{
    color: white;
    line-height: 1.9;
}
.ul-footer a:hover{
    color: white;
    line-height: 1.9;
    text-decoration: underline;
}

@media screen and (min-width:670px) {
    .ul-footer-title{
        color: var(--accent);
        margin-bottom: 6px;
        font-size: 1.6rem;
    }
    .ul-footer a{
        color: white;
        line-height: 1.9;
        font-size: 1.2rem;
    }
    .ul-footer a:hover{
        color: white;
        line-height: 1.9;
        font-size: 1.2rem;
        text-decoration: underline;
    }
}
/*  */



.fa-envelope, .fa-phone{
    font-size:12.5rem;
    margin-left: 15px;
    color: var(--primary);
    width: 152px;
}


.fa-photo-film{
    font-size:12.3rem;
    margin-left: 12px;
    color: var(--primary);
}

h2{
    font-size: 1.7rem;
    text-align: center;
}

section{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 15px;
    gap: 20px;
}

.email, .phone-num, .social-media{
    border: 2px solid lightgray;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width:756px) {
    footer{
        position: sticky;
        top: 100vh;
        width: 100%;
        margin-top: 100px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 150px;
        background-color: var(--secondary);
    }
}

/* contact list */

.contact-list >li{
    font-size: 1.4rem;
    margin: 3px 0;
    
}

.contact-list >li >a{
    color: purple;
}
.contact-list >li >a:hover{
    color: rgb(98, 11, 98);
    cursor: pointer;
    text-decoration: underline;
}

/* btn home */
.btn-shop-hero{
    background-color: rgb(102, 47, 255);
    border: none;
    height: 45px;
    width: 140px;
    padding: 10px;
    font-size: 1.6rem;
    transition: background-color .15s, transform .2s;
    font-weight: bold;
    color: white;
    margin-top: 50px;
    margin-left: 15px;
}

.btn-shop-hero:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 0 5px var(--secondary);
}