:root{
    --text: rgb(20, 12, 71);
    --background: rgb(246, 245, 255);
    --primary: rgb(255, 89, 0);
    --secondary: rgb(70, 47, 218);
    --secondary-hover:rgb(99, 81, 214);
    --accent: rgb(132, 217, 57);
    --accent-hover:rgb(158, 233, 92);
}




html{
    font-size: 62.5%;
}

*, *:after, *:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Oswald ,Arial, Helvetica, sans-serif;
    position: relative;
    overflow-y: scroll; overflow-x: hidden;

}
a{
    text-decoration: none;
    color: var(--text);
}

li{
    list-style: none;
}
/* navbar */

nav{
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7px;
    border-bottom: 2px solid lightgray;
    position: sticky;
    top: 0;
    z-index: 99999;
    background-color: white;
}



.nav-ul{
    display: flex;
    gap: 15px;
}

.li-nav{
    position: relative;
    padding-left: 7px;
    border-left: 2px solid lightgray;
}

.items-a{
    font-size: 1.1rem;
    transition: color .15s;
}

.items-a:hover{
    color: var(--accent);
}

.main-logo{
    width: 8.5rem;
}

@media screen and (min-width:670px) {
    .nav-ul{
        display: flex;
        gap: 15px;
    }
    .items-a{
        font-size: 1.6rem;
        transition: color .15s;
    }
    nav{
        height: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        border-bottom: 2px solid lightgray;
    }
    .main-logo{
        width: 9.3rem;
    }
    .li-nav{
        position: relative;
        padding-left: 16px;
        border-left: 2px solid lightgray;
    }
}

/* hero section */

.hero-sec{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(../images/hero-background.jpg);
    height: 100vh;
    background-position: 65% 56%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}


.hero-heading{
    font-size: 4rem;
    color: white;
    line-height: 1.1;
    margin-bottom: 30px;
}

.hero-disc{
    color: white;
    font-size: 1.2rem;
    position: relative;
}

.hero-disc:after{
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 130px;
    height: 3px;
    background-color: var(--primary);
}

strong{
    color: var(--accent);
    font-size: 1.5rem;
}

.btn-contact-hero{
    background-color: transparent;
    border: 3px solid var(--primary);
    height: 45px;
    width: 115px;
    padding: 10px;
    font-size: 1.6rem;
    transition: background-color .15s, transform .2s;
    font-weight: bold;
    color: white;
    margin-top: 50px;
    margin-right: 4px;
    margin-left: 13px;
}

.btn-contact-hero:hover{
    cursor: pointer;
    background-color: var(--primary);
    transform: translateY(-2px);
    box-shadow: 0 0 7px var(--primary);
}


.btn-shop-hero{
    background-color: rgb(102, 47, 255);
    border: none;
    height: 45px;
    width: 140px;
    padding: 10px;
    font-size: 1.6rem;
    transition: background-color .15s, transform .2s;
    font-weight: bold;
    color: white;
    margin-top: 50px;
}

.btn-shop-hero:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 0 5px var(--secondary);
}

@media  screen and (min-width:670px) {
    .hero-heading{
        font-size: 5.3rem;
        color: white;
        line-height: 1.1;
        margin-bottom: 30px;
        max-width: 665px;
    }

    .hero-disc{
        color: white;
        font-size: 1.7rem;
        position: relative;
        max-width: 732px;
    }
    .btn-contact-hero{
        background-color: transparent;
        border: 3px solid var(--primary);
        width: 120px;
        padding: 10px;
        font-size: 1.6rem;
        transition: background-color .15s, transform .2s;
        font-weight: bold;
        color: white;
        margin-left: 13px;
    }
    .btn-shop-hero{
        background-color: rgb(102, 47, 255);
        border: none;
        height: 45px;
        width: 160px;
        padding: 10px;
        font-size: 1.6rem;
        transition: background-color .15s, transform .2s;
        font-weight: bold;
        color: white;
        margin-top: 50px;
    }
    strong{
        color: var(--accent);
        font-size: 2rem;
    }
    .hero-sec{
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-image: url(../images/hero-background.jpg);
        height: 100vh;
        background-position: 55% 56%;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* main body */

.main-body{
    display: flex;
    margin-top: 50px;
    gap: 10px;
    margin-right: 10px;
    position: relative;
}


/* side Bar */

.side-bar{
    min-width: 150px;
    width: 150px;
    height: fit-content;
    box-shadow: 0 0 2px black;
    padding:15px 10px;
    position: sticky;
    top: 85px;

}

#ul-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
}

#apply-btn{
    font-weight: bold;
    margin-top: 10px;
    width: 70px;
    background-color: var(--accent);
    border: none;
    padding: 5px 5px;
    border-radius: 2px;
    color: var(--text);
}

#apply-btn:hover{
    cursor: pointer;
    background-color:var(--accent-hover) ;
}

#reset-btn{
    color: var(--text);
    margin-top: 10px;
    width: 50px;
    background-color: transparent;
    border: 2px solid var(--accent);
    padding: 3px 5px;
    border-radius: 2px;
    cursor: pointer;
}


.lbl-sidebar{
    font-size: 1.2rem;
}
@media screen and (min-width:670px) {
    .side-bar{
        width:15%;
        max-width: 220px;
        height: fit-content;
        box-shadow: 0 0 2px black;
        padding:15px 17px;
        position: sticky;
        top: 85px;
    
    }
    .lbl-sidebar{
        font-size: 1.4rem;
    }
}
/* products section */
.product-body{
    width: 100%;
    box-shadow: 0 0 2px black;
    padding: 15px 0;
}

#search-product{
    margin-bottom: 25px;
}

#heading-products{
    font-size: 1.6rem;
    text-align: center;
}

#search-input{
    margin: 5px 2px;
    height: 30px;
    padding: 10px 7px;
    width: 180px;
}
.search-btn{
    background-color: var(--secondary);
    color: white;
    padding: 0 10px;
    height: 30px;
    border: none;
}

.search-btn:hover{
    cursor: pointer;
    background-color:var(--secondary-hover);
    box-shadow: 0 0 5px var(--secondary-hover);
}

@media screen and (min-width:670px) {
    #search-input{
        margin: 5px 2px;
        height: 30px;
        padding: 10px 7px;
        width: 100%;
        max-width: 400px;
    }
}

/* product card */

#product-area{
    display: grid;
    grid-template-columns: repeat(1,fit-content);
    gap: 20px;
    justify-items: center;
}

.product-card{
    width: 200px;
    height: 300px;
    padding: 13px 0;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.product-img{
    width: 80%;
}


.product-disc{
    font-size: 1.1rem;
    width: 150px;
}
.product-title{
    font-size: 1.4rem;
}


.product-add, .product-add-cart{
    color: black;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: none;
}

.product-add{
    color: black;
}
.product-add:hover ,.product-add-cart:hover{
    cursor: pointer;
    background-color: #d6d6d6;
}
.old-price{
    justify-self: flex-start;
    text-decoration: line-through;
    font-size: 1rem;

}

.new-price{
    font-size: 1.3rem;
    color: var(--primary);
}

.prices-div{
    margin-right: 25px;

}
/* condition */
.condition-good:before{
    content: url(../images/condition/condition-good.svg);
    width: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.condition-new:before{
    content: url(../images/condition/condition-new.svg);
    width: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.condition-poor:before{
    content: url(../images/condition/condition-poor.svg);
    width: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.condition-bad:before{
    content: url(../images/condition/condition-bad.svg);
    width: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
}
/*  */
.popular-tag:after{
    content: url(../images/popular.svg);
    width: 25px;
    position: absolute;
    top: -5px;
    right: 10px;
}

.product-add-cart{
    font-size: 1.8rem;
}

@media screen and (min-width:840px) {
    #product-area{
        padding: 0 30px;
        display: grid;
        grid-template-columns: repeat(1,fit-content);
        gap: 20px;
        justify-items: center;
    }
    .product-img{
        width: 100%;
        max-width: 640px;
    }
    .product-card{
        width: 100%;
        max-height: 300px;
        padding: 13px 0;
        border: 1px solid lightgray;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        margin: 0 10px;
        position: relative;
    }


    .product-disc{
        font-size: 1.5rem;
        width: 150px;
    }
    .product-title{
        font-size: 1.7rem;
        color: var(--text);
        letter-spacing: .5px;
    }
    .product-add ,.product-add-cart{
        width: 50px;
        height: 50px;
        border-radius: 25px;
        border: none;
        aspect-ratio: 1;
    }
    .old-price{
        justify-self: flex-start;
        text-decoration: line-through;
        font-size: 1.4rem;
    
    }
    
    .new-price{
        font-size: 1.6rem;
        color: var(--primary);

    }
    .popular-tag:after{
        content: url(../images/popular.svg);
        width: 34px;
        position: absolute;
        top: -5px;
        right: 10px;
    }
    /* conditions */
    .condition-good:before{
        content: url(../images/condition/condition-good.svg);
        width: 50px;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    
    .condition-new:before{
        content: url(../images/condition/condition-new.svg);
        width: 50px;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .condition-poor:before{
        content: url(../images/condition/condition-poor.svg);
        width: 50px;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .condition-bad:before{
        content: url(../images/condition/condition-bad.svg);
        width: 50px;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .product-add-cart{
        font-size: 3rem;
    }
}

/* footer */

footer{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    background-color: var(--secondary);
}

.thank-title{
    text-align: center;
    font-size: 1.8rem;
    margin: 35px 0;
}

.ul-footer-title{
    color: var(--accent);
    margin-bottom: 6px;
}

.ul-footer a{
    color: white;
    line-height: 1.9;
}

@media screen and (min-width:670px) {
    .ul-footer-title{
        color: var(--accent);
        margin-bottom: 6px;
        font-size: 1.6rem;
    }
    .ul-footer a{
        color: white;
        line-height: 1.9;
        font-size: 1.2rem;
    }
    .ul-footer a:hover{
        color: white;
        line-height: 1.9;
        font-size: 1.2rem;
        text-decoration: underline;
    }
}

/* popup model */

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 100px;
    padding: 10px 20px;
    border-radius: 3px;
    box-shadow: 0 0 10px black;
    background-color: white;
    font-size: 1.7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--text);
}

.close-btn{
    font-size: 5.4rem;
    color:var(--accent) ;
    position: absolute;
    top: -25px;
    right: 6px;
}

.close-btn:hover{
    cursor: pointer;
    color: var(--accent-hover);
}

.popup-div{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: PopUpDrop .15s;
    background-color: rgba(0, 0, 0, .1);
}

/* cart modal */

.cart-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: fit-content;
    padding:60px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    background-color: white;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: var(--text);
}

.car-modal-container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: cartAppear .15s;
    background-color: rgba(0, 0, 0, .2);
}

.close-cart-btn{
    position: fixed;
    top: -7px;
    right: 10px;
    color:var(--accent) ;
    font-size: 5rem;
}

.close-cart-btn:hover{
    cursor: pointer;
    color: var(--accent-hover);
}

#purchase-btn{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120px;
    padding: 6px 6px;
    background-color: var(--primary);
    border: none;
    box-shadow: 0 0 7px var(--primary);
    border-radius: 3px;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    transition: transform .15s, font-size .15s;
    margin: 10px 10px;
}

#purchase-btn:hover{
    cursor: pointer;
    transform: translateY(-.5px);
    font-size: 1.5rem;

}
@keyframes PopUpDrop {
    from{
        top: -300px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}

@keyframes cartAppear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media screen and (min-width:860px) {
    .popup{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 150px;
        padding: 10px 20px;
        border-radius: 3px;
        box-shadow: 0 0 10px black;
        background-color: white;
        font-size: 1.9rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        color: var(--text);
    }
    .cart-modal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 650px;
        height: fit-content;
        padding:60px 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px black;
        background-color: white;
        font-size: 1.7rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        color: var(--text);
    }
    #purchase-btn{
        display: none;
        position: absolute;
        bottom: 25px;
        left: 20px;
        width: 140px;
        padding: 6px 6px;
        background-color: var(--primary);
        border: none;
        box-shadow: 0 0 7px var(--primary);
        border-radius: 3px;
        color: white;
        font-size: 1.7rem;
        font-weight: bold;
        transition: transform .15s, font-size .15s;
        margin: 10px 10px;

    }
    #purchase-btn:hover{
        cursor: pointer;
        transform: translateY(-.5px);
        font-size: 1.8rem;
    
    }

}

/* li cart */
#cart-modal{
    border: 1px solid lightslategray;
}

.li-cart{
        width: 250px;
        height: 100px;
        background-color: #fff;
        box-shadow: 0 0 4px black;
        margin-bottom: 15px;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
        padding: 30px 20px;
        position: relative;
}


@media screen and (min-width:860px) {
    .li-cart{
        width: 600px;
        height: 60px;
        background-color: #fff;
        box-shadow: 0 0 4px black;
        margin-bottom: 15px;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
        padding: 30px 20px;
}
}

.list-close-btn{
    font-size: 3rem;
    color: red;
    position: absolute;
    top: -5px;
    right: 10px;
    cursor: pointer;
}